.centrar {
  text-align: center;
}

.encabezado {
  background-color: #0c08f5;
}

.alinear {
  display: flex;
  gap: 20px;
}
.center{
  
}

.foto {
  width: 200px;
}
.linea {
  border-top: solid 3px blue;
  border-bottom: solid 0.5px blue;
}

.cajaizquierda {
  width: 30%;
}

.cajaderecha {
  width: 60%;
}
