.centrar {
    display: flex;
    justify-content: space-around;
  }

  .centrar2 {
    display: flex;
    justify-content: center;
  }

  .alinear{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
   gap: 10px;

}

.alinear2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
   gap: 50px;

}

.centerm{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1605f8;
}
  