.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(46, 42, 42);
  color: hwb(0 0% 4%);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin-right: 0.3em;
}
