.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: hsl(0, 0%, 6%);
  color: hsl(0, 97%, 37%);
  position: fixed;
  bottom: 0;
  width: 100%;
  gap: 10px;
}

.footer p {
  margin-right: 0.3em;
}
