.character-list {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: hsl(0, 95%, 48%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px #0127ff1a;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 18px;
}

.card-body h2 {
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: 8px;
}
