body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hwb(0 23% 76%);
  color: hwb(0 0% 3%);
}

.navbar {
  background-color: #171718e8;
  color: hsl(0, 100%, 51%);
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
}

.navbar ul li:hover {
  text-decoration: underline;
}

.home-header {
  background-color: hwb(0 13% 86%);
  color: hsl(0, 84%, 48%);
  padding: 20px;
  text-align: center;
}

.about,
.projects,
.resume {
  padding: 20px;
  margin: 20px;
  background-color: hsl(0, 4%, 14%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link {
  color: rgb(255, 0, 0);
}

body {
  background-color: hwb(0 23% 76%);
  font-size: 16px;
}

.orientation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 600px) {
  body {
    background-color: hwb(0 23% 76%);
  }

  .orientation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: hwb(0 23% 76%);
    font-size: 18px;
  }
}
